@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 198 100% 97%;
  --foreground: 205 79% 16%;
  --muted: 200 41% 87%;
  --muted-foreground: 205 58% 30%;
  --primary: 204 100% 33%;
  --primary-foreground: 0 0% 100%;
  --border: 199 56% 84%;
  --input: 199 56% 84%;
  --ring: 204 100% 33%;
  --radius: 0.375rem;
}

* {
  @apply border-border;
}

body {
  @apply bg-skybrand-50 text-skybrand-950;
}
